@{
    ViewBag.Title = "Users";
	ViewBag.CurrentPage = "Users";
	ViewBag.CurrentSubPage = "Users";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Paoli User List</h2>

<a href="@Url.Action( "Add", "User" )?iframe" id="addNewUser">Add New</a><br />
<div>
    <table id="userList">
    <thead></thead>
    <tfoot></tfoot>
    </table>
</div>

<script type="text/javascript">
	$(document).ready(function () {

		$("#addNewUser").fancybox({
			'autoDimensions': false,
			'width': 400,
			'height': 600,
			'padding': 20,
			'margin': 0,
			'scrolling': 'auto',
			'titleShow': false,
			'type': 'iframe'
		});

		loadUsers();
	});

	function deleteUser(dID) {
		if (confirm('Delete User?')) {
			$.ajax({
				dataType: 'json',
				type: 'GET',
				url: '/User/Delete',
				data: { id: dID },
				success: function (data, textStatus, jqXHR) {
					loadUsers();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert('Error deleting User:' + errorThrown)
				}
			});
		}
	}

	function resetPassword(dID) {
		if (confirm('Reset Password for User?')) {
			$.ajax({
				dataType: 'json',
				type: 'GET',
				url: '/User/ResetPassword',
				data: { id: dID },
				success: function (data, textStatus, jqXHR) {
					alert('The password for this user has been reset.');
					loadUsers();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert('Error resetting password for User:' + errorThrown)
				}
			});
		}
	}

	var oTable = null;
	function loadUsers() {
		if (oTable != null) {
			oTable.fnDraw();
			return;
		}

		oTable = $('#userList').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"bFilter": true,
			"bLengthChange": false, // don't show dropdown for #items per page
			"bPaginate": true,
			"bInfo": true,
			"sAjaxSource": '@Url.Action( "FullUserList" )',
			"fnServerParams": function (aoData) {
			},
			"iDisplayLength": 10,
			"fnServerData": function (sSource, aoData, fnCallback) {
				$.ajax({
					dataType: 'json',
					type: "POST",
					url: sSource,
					data: aoData,
					success: function (data, textStatus, jqXHR) {
						fnCallback(data, textStatus, jqXHR);
						$('.fbImageBtn').fancybox({
							'autoDimensions': false,
							'width': 400,
							'height': 600,
							'padding': 20,
							'margin': 0,
							'scrolling': 'auto',
							'titleShow': false,
							'type': 'iframe'
						});
					},
					error: function (jqXHR, textStatus, errorThrown) { alert('Error getting list of Users:' + errorThrown) }
				})
			},
			"bProcessing": false, // don't want to use the default progress indicator at this time
			"aaSorting": [[1, "asc"]],
			"aoColumnDefs": [
                    { "sName": "FirstName", "sTitle": "First Name", "aTargets": [0], "mDataProp": "FirstName", "sWidth": "15%",
                    	"fnRender": function (oObj) {
                    		var s = '';
                    		if (!oObj.aData["Enabled"]) {
                    			s += '<span style="text-decoration:line-through">';
                    		}
                    		s += oObj.aData["FirstName"];
                    		if (!oObj.aData["Enabled"]) {
                    			s += '</span>';
                    		}
                    		return s;
                    	}
                    },
                    { "sName": "LastName", "sTitle": "Last Name", "aTargets": [1], "mDataProp": "LastName", "sWidth": "15%",
                    	"fnRender": function (oObj) {
                    		var s = '';
                    		if (!oObj.aData["Enabled"]) {
                    			s += '<span style="text-decoration:line-through">';
                    		}
                    		s += oObj.aData["LastName"];
                    		if (!oObj.aData["Enabled"]) {
                    			s += '</span>';
                    		}
                    		return s;
                    	}
                    },
                    { "sName": "EmailAddress", "sTitle": "Email Address", "aTargets": [2], "mDataProp": "EmailAddress", "sWidth": "25%" },
                    { "sName": "CompanyName", "sTitle": "Company Name", "aTargets": [3], "mDataProp": "CompanyName", "sWidth": "25%" },
                    { "sName": "EditButtons",
                    	"aTargets": [4],
                    	"bSearchable": false,
                    	"bSortable": false,
                    	"mDataProp": "EditButtons", "sWidth": "20%",
                    	"fnRender": function (oObj) {
                    		var s;
                    		s = '<a href=\"@Url.Action( "Edit", "User" )/' + oObj.aData["UserID"] + '/?iframe\" class="fbImageBtn">Edit</a>';
                    		s += '&nbsp;|&nbsp;';
                    		s += '<a href=\"#\" onclick="resetPassword(' + oObj.aData["UserID"] + ');">Reset Password</a>';
                    		return s;
                    	}
                    }
                ]
		});
	}

</script>