@model PDWModels.Companies.MyTripInfo
@{
    Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.HeaderArea = "TripInfo";
}

                     <div class="container">
<div class="main_inner1_content ">
	<div class="main_inner1_content_lt">
    	<!-- LEAD TIME MODULE CUSTOMER SVC PROMO -->
		<div class="LdTm_PromoBox">
			<div class="LdTm_PromoHeadline">Questions? We're here to help!</div>
			<div class="LdTm_PromoText">If you have questions about the stats, scoring or rank data provided here or feel that the information presented does not accurately reflect your dealerships sales performance, please contact me today.</div>
            <div class="LdTm_Contact_Left"><!--This image is placeholder Person--><img src="/images/13fbad33-25e7-467a-8ed3-1c8786367d58.jpg" alt="img"/></div>
            <div class="LdTm_Contact_Right">
            	<div class="LdTm_Contact_Name">Leslea Kerby</div>
            	<div class="LdTm_Contact_Info"><a href="mailto:leslea-kerby@paoli.com">leslea-kerby@paoli.com</a></div>
            	<div class="LdTm_Contact_Info">800-457-7415﻿</div>          
            </div>   
		</div>
 	</div>
	<div class="main_inner1_content_rt">
    
    	<div class="LdTm_Full_Width">
			<div>
				<div>
					<img src="/NewContent/Images/Paoli-Montreal-Hero.jpg" alt="" />
				</div>
				<hr />
				<p>Paoli is pleased to announce the 2016 Dealer Incentive Trip Program to Montreal, Quebec, Canada. The Qualification period includes orders received July 1, 2015 to June 30, 2016 with shipment by August 30, 2016. The trip is October 14 - 18, 2016.</p>
				<hr />
				<h1>How Dealership Groups Quality</h1>
				<p>For every $325,000 in net sales, the Dealership earns a trip for two.</p>
				<hr />
				<h1>Terms and Conditions</h1>

				<p>GSA sales count towards trip at 100%</p>
				<p>Dealership must be current and in good standing at the time of the trip</p>
				<p>Must be an active employee of the dealership at the time of the trip</p>
				<p>Over the course of the program’s qualification period, there may be opportunity to earn trips by achieving a Chairman’s Choice Award</p>
				<p style="padding-left:25px">These Award opportunities will be announced by Paoli Management over the duration of the program’s qualifying period</p>
				<p>Dealer employees must be at least 21 years old at time of trip</p>
				<p>Dealer guests must be at least 18 years old at time of trip</p>
				<p>Any additional costs for the deviations to the scheduled group travel dates are the responsibility of the participant</p>
				<p>Trips have no cash value</p>
				<p>Final determination of winning dealerships will be made by Paoli</p>
				<p>A 1099 will be issued for each trip taken</p>
				<p>Paoli reserves the right to terminate the program or alter rules at Paoli’s discretion and without notice</p>
			
			</div>
			@if( Model.CanSeePerfData )
   {
            <h1>Your current trip incentive stats</h1>
            <!-- FULL WIDTH - 2 COL TABLE BEGIN -->
            <table class="dataColumns" border="0">
				<tr>
					<td width="75%">Year-to-date (YTD) sales</td>
					<td>@Model.YTDSales</td>
				</tr>
                <tr>
					<td width="75%">Number of trips earned</td>
					<td>@Model.TripEarned</td>
				</tr>
                <tr>
					<td width="75%">Sales to next trip</td>
					<td>@Model.SalesToNextTrip</td>
				</tr>
                
			</table>
   }
        </div>
        
	</div>
	<i class="clear_0"></i>
</div>
</div>
