@model PDWModels.Users.UserSubscriptionSummary

@{
	ViewBag.Title = "Subsciptions and Alerts";
	ViewBag.CurrentPage = "Account";
	ViewBag.CurrentSubPage = "Subscriptions";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Subsciptions and Alerts</h2>

    @using( Html.BeginForm( "Subscriptions", "User", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		@Html.HiddenFor( m => m.UserID )
		for( int i = 0; i < Model.subInfo.Count; i++ )
  {
	  @Html.EditorFor( m => m.subInfo[i] )
  }
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Save" id="submitBtn" />
	}