@{
    ViewBag.Title = "Collateral Orders";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Collateral";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Collateral Order List</h2>

<a href="@Url.Action( "AddOrder", "Collateral" )">Add Collateral Order</a>
<br />
@Html.CheckBox( "HideFulfilled" )Hide Fulfilled<br />
<div>
    <table id="orderList">
    <thead></thead>
    <tfoot></tfoot>
    </table>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#HideFulfilled').click(loadOrders);
		loadOrders();
	});

	var oTable = null;
	function loadOrders() {
		if (oTable != null) {
			oTable.fnDraw();
			return;
		}

		oTable = $('#orderList').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"bFilter": true,
			"bLengthChange": false, // don't show dropdown for #items per page
			"bPaginate": true,
			"bInfo": true,
			"sAjaxSource": '@Url.Action( "FullCollateralOrderListForUser" )',
			"fnServerParams": function (aoData) {
				aoData.push({ "name": "hideFulfilled", "value": $('#HideFulfilled:checked').length > 0 });
			},
			"iDisplayLength": 100,
			"fnServerData": function (sSource, aoData, fnCallback) {
				$.ajax({
					dataType: 'json',
					type: "POST",
					url: sSource,
					data: aoData,
					success: function (data, textStatus, jqXHR) {
						fnCallback(data, textStatus, jqXHR);
					},
					error: function (jqXHR, textStatus, errorThrown) { alert('Error getting list of Orders:' + errorThrown) }
				});
			},
			"bProcessing": false, // don't want to use the default progress indicator at this time
			"aaSorting": [[0, "desc"]],
			"aoColumnDefs": [
                    { "sName": "EditButtons",
                    	"aTargets": [0],
                    	"sTitle": "Order Number",
                    	"mDataProp": "EditButtons", "sWidth": "8%",
                    	"fnRender": function (oObj) {
                    		var s = '<a href=\"@Url.Action( "ViewOrder", "Collateral" )/' + oObj.aData["OrderID"] + '\" class="fbImageBtn">';
                    		s += oObj.aData["OrderID"];
                    		s += '</a>';
                    		return s;
                    	}
                    },
                    { "sName": "RequestingParty", "sTitle": "Requested By", "aTargets": [1], "mDataProp": "RequestingParty", "sWidth": "36%" },
                    { "sName": "ShippingParty", "sTitle": "Requested For", "aTargets": [2], "mDataProp": "ShippingParty", "sWidth": "36%" },
                    { "sName": "OrderDate", "sTitle": "Order Date", "aTargets": [3], "mDataProp": "OrderDate",
                    	"fnRender": function (oObj) {
                    		return getLocalDate(oObj.aData["OrderDateMilliseconds"]);
                    	}, "sWidth": "10%"
                    },
                    { "sName": "Status", "sTitle": "Status", "aTargets": [4], "mDataProp": "Status", "sWidth": "10%",
                    	"fnRender": function (oObj) {
                    		return oObj.aData["Status"];
                    	}
                    }
                ]
		});
	}

</script>