<!-- SET: FOOTER -->
                <footer>
                    <div class="footer_top">
                         <div class="container">
                              <span>800-457-7415</span>
                                <div class="footer_top_rt">
                                  <h3>Paoli</h3>
                                  <p>201 E Martin St</p>
                                  <p>Orleans IN  47452</p>
                                </div>
                              <i class="clear_0"></i>
                         </div>
                    </div>
                    <div class="footer_copy">
                        <div class="container">
                            <span><a href="http://www.paoli.com">Visit Paoli.com</a></span>
                            <p>Copyright 2014. All Rights Reserved.   <cite>Paoli is an HNI company.</cite></p>
                           <i class="clear_0"></i>
                        </div>
                    
                    </div>
                
                </footer>	
            <!-- END: FOOTER -->
