                    <div class="header_top blue">
                       <div class="container">
                          <div class="logo"><a href="@(HttpContext.Current.User.Identity.IsAuthenticated ? "/" : "http://www.paoli.com")"><img src="/newcontent/images/logo.png" width="127" height="47" alt="img"/></a></div>
                          <!--    <div class="header_right">
                                  <input type="text" value="Type here to search" onFocus="this.value=''" onBlur="this.value=!this.value?'Type here to search':this.value;"/> <span><a href="#"><img src="/newcontent/images/search.jpg" width="17" height="17" alt="img"></a></span>
                              </div>-->
							  @if( HttpContext.Current.User.Identity.IsAuthenticated )
		 {
                              <div class="setting-icon"><a id="right-nav" href="#"><img src="/newcontent/images/narrow-nav-icon.jpg" alt=""/></a></div>
		 }
                          </div>  
                    </div>

					@if( HttpContext.Current.User.Identity.IsAuthenticated )
	 {
					<script type="text/javascript">
						var bShowing = false;
						var sessionEnd = null;
						function resetSessionEnd() {
							sessionEnd = new Date(Date.now() + @FormsAuthentication.Timeout.TotalMilliseconds);
						}

						$(document).ready(function () {
							$("#sessionTimeoutWarningLink").fancybox({
								'autoDimensions': true,
								'padding': 20,
								'margin': 0,
								'scrolling': 'auto',
								'titleShow': false,
								'type': 'inline',
								'hideOnOverlayClick': false,
								'showCloseButton': false,
								'onClosed': function() {
									bShowing = false;
								},
								'onComplete': function() {
									bShowing = true;
								}
							});

							$('#sessionTimeoutWarningOK').click(function(e) {
								makeAjaxCall('@Url.Action( "KeepAlive", "Import" )', null, 
									resetSessionEnd, null);
								$.fancybox.close();
							});

							resetSessionEnd();

							setInterval(function() {
								if( Date.now() > sessionEnd ) {
									window.location.href = '@Url.Action( "Logout", "Import" )';
									return;
								} else if( Date.now() + (5 * 60 * 1000) > sessionEnd ) {
									$('#sessionTimeoutWarning span').html(getIntervalFromMilliseconds(sessionEnd - Date.now()));
									if( $('#fancybox-content:visible').length == 0 ) {
										// only if fancybox not already showing
										if( !bShowing ) {
											// ...and we are not already showing the warning message
											$('#sessionTimeoutWarningLink').trigger('click');
										}
									}
								} else if ( bShowing ) {
									$.fancybox.close();
								}
							}, 1000);
						});
					</script>
	 }
	 
	 <div style="display:none;">
	 <a href="#sessionTimeoutWarning" id="sessionTimeoutWarningLink"></a>
		<div id="sessionTimeoutWarning" style="text-align:center; color: #000;">
			Your session will end in <span></span>.<br />Press OK to continue working.<br /><br />
			<input type="button" class="btn_type1" value="OK" id="sessionTimeoutWarningOK" />
		</div>
	 </div>