<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="imageCropSettings" type="PDWInfrastructure.ImageCropConfiguration, PDWInfrastructure"/>
		<section name="encSettings" type="PDWInfrastructure.EncryptionConfiguration, PDWInfrastructure"/>
		<section name="exchangeSettings" type="PDWInfrastructure.ExchangeMailConfiguration, PDWInfrastructure"/>
	</configSections>

  <imageCropSettings>
    <ImageSizes>
      <CropSetting Description="Small 1:1" Suffix="s1to1" RatioWidth="1" RatioHeight="1" MaxHeight="150" MaxWidth="150" CropType="Center" />
      <CropSetting Description="Small 4:3" Suffix="s4to3" RatioWidth="4" RatioHeight="3" MaxHeight="150" MaxWidth="150" CropType="Center" />
      <CropSetting Description="Small 16:9" Suffix="s16to9" RatioWidth="16" RatioHeight="9" MaxHeight="150" MaxWidth="150" CropType="Center" />
      <CropSetting Description="Medium 1:1" Suffix="m1to1" RatioWidth="1" RatioHeight="1" MaxHeight="300" MaxWidth="300" CropType="Center" />
      <CropSetting Description="Medium 4:3" Suffix="m4to3" RatioWidth="4" RatioHeight="3" MaxHeight="300" MaxWidth="300" CropType="Center" />
      <CropSetting Description="Medium 16:9" Suffix="m16to9" RatioWidth="16" RatioHeight="9" MaxHeight="300" MaxWidth="300" CropType="Center" />
      <CropSetting Description="Large 1:1" Suffix="l1to1" RatioWidth="1" RatioHeight="1" MaxHeight="1024" MaxWidth="1024" CropType="Center" />
      <CropSetting Description="Large 4:3" Suffix="l4to3" RatioWidth="4" RatioHeight="3" MaxHeight="1024" MaxWidth="1024" CropType="Center" />
      <CropSetting Description="Large 16:9" Suffix="l16to9" RatioWidth="16" RatioHeight="9" MaxHeight="1024" MaxWidth="1024" CropType="Center" />
      <CropSetting Description="Small Base" Suffix="sBase" RatioWidth="0" RatioHeight="0" MaxHeight="150" MaxWidth="150" CropType="Center" />
      <CropSetting Description="Medium Base" Suffix="mBase" RatioWidth="0" RatioHeight="0" MaxHeight="300" MaxWidth="300" CropType="Center" />
      <CropSetting Description="Large Base" Suffix="lBase" RatioWidth="0" RatioHeight="0" MaxHeight="1024" MaxWidth="1024" CropType="Center" />
    </ImageSizes>
  </imageCropSettings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ImageFileLocation" value="C:\Projects\Paoli\PublishWebSite\Images"/>
    <add key="SpecRequestDocumentLocation" value="C:\Projects\Paoli\PublishWebSite\Documents\Typicals"/>
    <add key="PrependImageName" value="Paoli"/>
    <add key="HomePageRedirect" value="http://www.paoli.com/"/>
    <add key="EmailTemplates" value="C:\Projects\Paoli\ProductDataWarehouse\ProductDataWarehouse\Content\Email Templates"/>
    <add key="EmailRedirection" value="true"/>
    <add key="EmailDisabledUsers" value="true"/>

		<add key="EmailFromFirstName" value="Stan"/>
		<add key="EmailFromFullName" value="Stan King"/>
		<add key="EmailFromJobTitle" value="Customer Service Manager"/>
		<add key="EmailFromEmailAddress" value="kings@paoli.com"/>

		<add key="MailChimpApiKey" value="a93665177bd5f4ed1bb30eef32999a5e-us7"/>
		<add key="MailChimpDealerList" value="4d68bf13db,bf2ebc4aad﻿"/>
		<add key="MailChimpSalesRepList" value="640e530a77﻿"/>

  </appSettings>

	<encSettings>
		<DataPassPhrase value="Th@t'smy$ecr3t,Cap:!'m@lway$an%ry."/>
	</encSettings>

	<exchangeSettings>
		<Settings ServerAddress="https://eas.hnicorp.com/EWS/Exchange.asmx" Username="HelpDesk-PAO" Password="H-p12345" Domain="honi" UseExchange="false"/>
	</exchangeSettings>
	
  <connectionStrings>
    <add name="PaoliPDWEntities" connectionString="metadata=res://*/DBContext.csdl|res://*/DBContext.ssdl|res://*/DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=matt3400;initial catalog=PaoliPDW;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <location path="">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Import/LogOn" timeout="120" />
    </authentication>

		<customErrors mode="On" defaultRedirect="/Import/Error">
			<error statusCode="404" redirect="http://www.paoli.com/404"/>
		</customErrors>
		
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\Projects\Paoli\Mail Drop" />
			</smtp>
			<!--      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="" password="" defaultCredentials="false"/>
      </smtp>-->
		</mailSettings>
	</system.net>

	<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="3.0.0.0-3.0.0.1" newVersion="3.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
