@model PDWModels.eCollateral.ECollateralDetails.DetailItem

<script type="text/javascript">
	$(document).ready(function () {
	});

</script>


  @if( Model.ImageID.HasValue )
  {
<div class="addimagebox smalladimge">
  <img src="/Images/@Model.ImageFileName" />
</div>
  }
  @if( ( Model.Content ?? "" ).Any() )
  {
<div class="addcontentbox">
	@Html.Raw( Model.Content )
</div>
  }
<div class="clr"></div>
