@using PDWModels.SpecRequests
@model SpecRequestInformation.FileListing

@{var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;}

		@if( Model != null && Model.FileList.Any() )
  {
	  <script type="text/javascript">
	  	function deleteFinalFile(fileId) {
	  		$('#fileArea' + fileId).hide();
	  		$('#delete@(fieldName)').val($('#delete@(fieldName)').val() + ',' + fileId)
	  	}

		$(document).ready(function() {
			@foreach( var item in Model.FileList )
			{
	   <text>$('#uploadDate@(item.FileID)').text(getLocalDateTime('@item.UploadDate.ToString()'));</text>
			}
		});
	  </script>
	  <div>
	  <input type="hidden" id="delete@(fieldName)" name="delete@(fieldName)" />
	  @foreach( var item in Model.FileList )
   {
	   <div id="fileArea@(item.FileID)">
	   <a href="/Documents/Typicals/@Model.SpecName/@item.Extension/@item.VersionNumber/@item.FileName" target="_blank">@item.FileName</a> (<span id="uploadDate@(item.FileID)"></span>) <a href="javascript:void(0)" onclick="deleteFinalFile(@item.FileID)"><img src="@Url.Content( "~/Content/images/Delete.png" )" /></a><br />
	   </div>
   }
	  </div>
  }
