@model PDWModels.eCollateral.ECollateralDetails
@{
	ViewBag.RealPageTitle = "Paoli - " + Model.Name;
    Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.ShowHeaderArea = false;
}
<script type="text/javascript">
</script>
<div class="content">
	<div class="templatecontbox">
		@Html.Partial( partialViewName: "~/Views/ePublisher/" + Model.DisplayViewName + ".cshtml", model: Model )
	</div>
</div>