@{
	ViewBag.Title = "Spec Requests";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Typicals";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Spec Request List</h2>

<a href="@Url.Action( "Add", "SpecRequest" )?iframe" id="addNewRequest">Add New</a><br />
<div>
    <table id="specRequestList">
    <thead></thead>
    <tfoot></tfoot>
    </table>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$("#addNewRequest").fancybox({
			'autoDimensions': false,
			'width': 900,
			'height': 700,
			'padding': 20,
			'margin': 0,
			'scrolling': 'auto',
			'titleShow': false,
			'type': 'iframe'
		});

		loadSpecRequests();
	});

	var oTable = null;
	function loadSpecRequests() {
		if (oTable != null) {
			oTable.fnDraw();
			return;
		}

		oTable = $('#specRequestList').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"bFilter": true,
			"bLengthChange": false, // don't show dropdown for #items per page
			"bPaginate": true,
			"bInfo": true,
			"sAjaxSource": '@Url.Action( "FullRequestList" )',
			"fnServerParams": function (aoData) {
			},
			"iDisplayLength": 10,
			"oLanguage": {
				"sSearch": "Filter by Keyword:"
			},
			"fnServerData": function (sSource, aoData, fnCallback) {
				$.ajax({
					dataType: 'json',
					type: "POST",
					url: sSource,
					data: aoData,
					success: function (data, textStatus, jqXHR) {
						fnCallback(data, textStatus, jqXHR);
						$('.fbImageBtn').fancybox({
							'autoDimensions': false,
							'width': 900,
							'height': 700,
							'padding': 20,
							'margin': 0,
							'scrolling': 'auto',
							'titleShow': false,
							'type': 'iframe'
						});
					},
					error: function (jqXHR, textStatus, errorThrown) { alert('Error getting list of Requests:' + errorThrown) }
				})
			},
			"bProcessing": false, // don't want to use the default progress indicator at this time
			"aaSorting": [[1, "asc"]],
			"aoColumnDefs": [
                    { "sName": "RecommendedStar",
                    	"aTargets": [0],
                    	"bSearchable": false,
                    	"bSortable": false,
                    	"mDataProp": "RecommendedStar", "sWidth": "3%",
                    	"fnRender": function (oObj) {
                    		var s = '';
                    		if (oObj.aData["IsRecommended"]) {
                    			s += '<span class="ui-icon-star ui-icon" title="Recommended for use on the Web"></span>';
                    		}
                    		return s;
                    	}
                    },
                    { "sName": "Name", "sTitle": "Name", "aTargets": [1], "mDataProp": "Name", "sWidth": "15%" },
                    { "sName": "Dealer", "sTitle": "Dealer", "aTargets": [2], "mDataProp": "Dealer", "sWidth": "24%" },
                    { "sName": "RepGroup", "sTitle": "Paoli Rep Group", "aTargets": [3], "mDataProp": "RepGroup", "sWidth": "24%" },
                    { "sName": "SpecTeamMember", "sTitle": "Spec Team Member", "aTargets": [4], "mDataProp": "SpecTeamMember", "sWidth": "24%" },
                    { "sName": "EditButtons",
                    	"aTargets": [5],
                    	"bSearchable": false,
                    	"bSortable": false,
                    	"mDataProp": "EditButtons", "sWidth": "10%",
                    	"fnRender": function (oObj) {
                    		var s;
                    		s = '<a href=\"@Url.Action( "Edit", "SpecRequest" )/' + oObj.aData["RequestID"] + '/?iframe\" class="fbImageBtn">Edit</a>';
                    		return s;
                    	}
                    }
                ]
		});
	}

</script>