@model PDWModels.Dealers.DealerVideoInformation

@{
    ViewBag.Title = "AddDealerVideo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ProductDataWarehouse.Models

@if( ViewBag.CloseFancyBox ?? false )
{
    <script type="text/javascript">
    	$(document).ready(function () {
    		parent.$.fancybox.close();
    		if (parent.loadVideos) {
    			parent.loadVideos();
    		}
    	});
    </script>
}
else
{
    <script type="text/javascript">
    	$(document).ready(function () {
    	});

    </script>    
}
    <h2>Add Video</h2>

    @using( Html.BeginForm( "AddDealerVideo", "Import", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
        <span class="dataRow">@Html.MJLabelFor( m => m.Name, true )@Html.TextBoxFor( m => m.Name )<br /></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.YouTubeID, true )@Html.TextBoxFor( m => m.YouTubeID )<br /></span>
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Add" id="submitBtn" />
	}
