@{
	ViewBag.Title = "Forgot Password";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>
@if( ViewBag.EmailSent ?? false )
{
	<p>An email has been sent to the address that you provided with your new password.</p>
}
else
{
	using( Html.BeginForm() )
	{
	<span class="dataRow"><label for="fpEmailAddress">Email Address:</label>@Html.TextBox( "fpEmailAddress" )</span><br />
@Html.ValidationSummary()
	<input type="submit" value="Reset" class="btn_type1 left" />
	}
}
