@model PDWModels.HomePageContentInformation
@{
	ViewBag.Title = "Manage Home Page";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "NewHomePage";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Manage Home Page</h2>

@using( Html.BeginForm() )
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
	@Html.TextAreaFor( m => m.ContentArea, new { style = "width: 100%; height: 400px; " } )<br />
        <input type="submit" value="Save" class="btn_type1" style="margin-top:10px;" />
	
}