body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*
Header styles
*/
#page_navigation{
	background:url(images/nav_bar_bg.png) top left repeat-x;
	padding:13px 0;
	margin-top:20px;
	position:fixed;
	width:100%;
	z-index:1000;
	height:64px
}

.wrapper{margin:0 auto;width:1000px}
.wrapper.p20 {
    width: 960px;
    padding: 0px 20px;
}

#logo{display:inline-block; float:left}	

#nav{
	float:right;
	padding-top:15px;
	*clear: none;
	*margin-top: -50px;
	list-style:none;
	margin:0
}
#nav li{
	float:left; padding-left:15px; margin-left:15px;
	border-left:1px solid #c7c2ba;
}
#nav li:first-child{border:none}
#nav .current_page a{color:#e3e0db;
	font:16px adelle_sansbold;
	padding-top:0
}
#nav a{color:#c7c2ba; padding-top:2px; display:block}
#nav a:hover{color:#fff}

#nav a{
	clear: none;
}

#nav a:link, #nav a:visited {
    text-decoration: none;
    outline: medium none;
}
